:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
   margin: 0;
}

img{
  width: 30%;
  height: auto;
}

h2{
  color: #FF6E90;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
}

*{
  text-decoration: none;
}

h1{
  color: white;
  font-family: sans-serif;
  text-shadow: .5px 1px 0 rgb(87, 68, 76);
  letter-spacing: 2.4px;
  font-size: 3em;
}

/* -----Sections */
nav{
  min-height: 2em;
}

header{
  border-radius: 2px;
  background-color: pink;
  padding: 3em;
  min-height: 40vh;
}

header h1{
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
}

footer{
  border-top: 1px solid gray;
  margin-top: 4em;
  padding-left: 3em;
  padding-bottom: 1em;
  text-align: center; 
}

footer, a{
    color: #534E84;
}

footer, a:visited{
    color: rgb(25, 23, 41);
}


/* ------Custom */
.gradientBackground{
  background-image: linear-gradient( to top right, #FF6E90, #FFA4C3, #F7F5DD);
}

.paragraphSection{
  margin-left: 3em;
}

.markerImg{
  margin-left: 1.5em;
  width: 15rem;
  box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset; 
width: 300px;
}